################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/pingpong/bin/Debug
/pingpong/obj
